@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.welcome-bg {
  background-image: url('./public/assets/backgrounds/welcome.jpeg');
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

.personal-info-bg {
  background-image: url('./public/assets/backgrounds/personal-info.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .containerXl {
    max-width: 1396px;
  }
}
